<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="//unpkg.com/normalize.css@8.0.0">
  </head>
  <body>
    <div id="js-root"></div>
  </body>
</html>
